<!DOCTYPE html>
<html>
<head>
  <title>Blockspace</title>
  <%- css('application') %>
</head>
<body>
  <canvas id="canvas-bg"></canvas>
  <canvas id="canvas"></canvas>
  <div id="showfps">--</div>
  <div id="showpos">--</div>
  <div id="showdebug"></div>
  <div id="creatormenu" style="display: none">
  </div>
  <%- js('blockspace') %>
</body>
</html>
