<!--DOCTYPE html-->
<html>
<head>
  <title>Blockspace</title>
  <%- css('application') %>
</head>
<body>
  <canvas id="canvas"></canvas>
  <div id="showfps">--</div>
  <div id="showpos">--</div>
  <%- js('application') %>
</body>
</html>
