<!DOCTYPE html>
<html>
<head>
  <title>Blockspace :: Block Showcase</title>
  <%- css('application') %>
</head>
<body>
  <canvas id="canvas-bg"></canvas>
  <canvas id="canvas"></canvas>
  <div id="creatormenu" style="display: none">
  </div>
  <%- js('editor/shipsshowcase') %>
</body>
</html>
