html, body {
  margin: 0;
  padding: 0;
}
body {
  background: #000;
  overflow: hidden;
}

#showfps {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
}

#showpos {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
}
