html, body {
  margin: 0;
  padding: 0;
}
body {
  background: #000;
  overflow: hidden;
}

#showfps {
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
}

#showpos {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
}

#canvas,
#canvas-bg {
  position: absolute;
  left: 0;
  top: 0;
}

#gamemenu {
  background: rgba(0,0,0, 0.6);
  border: 1px solid #999;
  position: absolute;
  left: 30%;
  top: 100px;
  margin: 0 auto;
  width: 40%;
  height: 400px;
  text-align: center;
}

#gamemenu canvas {
  cursor: pointer;
  position: absolute;
}

#gamemenu #gametitle {
  cursor: default;
  position: relative;
  margin: 10px auto;
}
